<h2 mat-dialog-title>הוסף סוג מוצר</h2>

<form [formGroup]="productTypeForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>שם סוג מוצר</mat-label>
            <input matInput formControlName="name" id="name" type="text" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>תיאור</mat-label>
            <textarea matInput formControlName="description" id="description" type="text"></textarea>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions style="justify-content: space-between;">
        <button mat-raised-button mat-dialog color="primary" id="submit" type="submit">שמור</button>
         <button mat-raised-button mat-dialog-close color="warn">חזרה</button>
    </mat-dialog-actions>

</form>