.full-width-table {
    width: fit-content;
    direction: rtl;
    }
    
.mat-form-field {
    font-size: 14px;
    width: 100%;
    direction: ltr;
}
td {text-align: right; direction: rtl;}

mat-footer-cell {
    width: auto;
}
mat-form-field{
    width: 100%;
}

.last-added {
    background-color: rgb(255, 0, 0, 0.25);
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

