
<h2 mat-dialog-title>Update Product Type</h2>

<form [formGroup]="productTypeForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput id="id" type="text" [value]="productType.id" [disabled]="true" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Product Type Name</mat-label>
            <input matInput formControlName="name" id="name" type="text" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" id="description" type="text"></textarea>
        </mat-form-field>

       
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog color="primary" id="submit" type="submit">Save</button>
        <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>

</form>