<div >
    <h1>חידוש סיסמה</h1>

    <h3>מה המייל שלך? מיד נשלח לך את הקוד לחידוש סיסמה</h3>
    <form class="mb-3 mt-md-4" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>אימייל</mat-label>
            <input type="text" formControlName="email" matInput chan>
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
                הזן אימייל
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
                נא להזין אימייל חוקי
            </mat-error>
        </mat-form-field>

        <div class="d-grid">
            <button class="btn btn-outline-dark example-full-width" type="submit">שלחו לי את הקוד</button>
        </div>
    </form>
    <br>
    <div class="text-center">
        <!-- Simple link -->
        <p class="mb-0">כבר יש לך חשבון?
            <a class="red-color" href="/auth/login">להתחברות</a>
        </p>
    </div>
</div>