

.example-full-width {
    width: 100%;
}
.container{
    height: 100%;
}

.p-border-red {
    border-left: 6px solid black;
}
.border-red {
    border-top: 15px solid black;
}
  
.red-color{
    color :red;
}

.example-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex-box {
	display:flex; 
	justify-content: space-around;
}
.flex-box > div {
	display: flex;
	flex-direction: column;
	align-items:center;
}