<mat-form-field appearance="outline">
  <mat-label>חפש מכירה</mat-label>
  <input matInput onchange="calculateTotal()"  (keyup.enter)="applyFilter($event)" #input>
</mat-form-field>
<div class="mz-info" *ngIf="sale">
  <mat-label> ID :<h1>{{sale.id}}</h1></mat-label>

  <mat-label>שם לקוח :<h1>{{sale.customerName}}</h1></mat-label>
  <mat-label>טלפון של לקוח :<h1>{{sale.customerPhoneNumber}}</h1></mat-label>
  <mat-label>עיר לקוח :<h1>{{sale.customerPhoneNumber}}</h1></mat-label>

  <mat-label> תאריך ושעה :<h1>{{sale.created_at | date: 'dd/MM/yyyy hh:mm a'}}</h1></mat-label>
</div>


<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" aria-label="datasource" [dataSource]="datasource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> שם </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>



    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> מחיר </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- count Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> כמות </th>
      <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
      <mat-footer-cell *matFooterCellDef aria-colspan="2"> סה"כ </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="calculatedPrice">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{calculatePrice(element)}} </td>
      <mat-footer-cell *matFooterCellDef aria-colspan="2">{{ calculateTotal() }}</mat-footer-cell>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
    <mat-footer-row class="sticky-footer" *matFooterRowDef="['count','calculatedPrice']"></mat-footer-row>


  </table>

</div>