.full-width-table {
    width: fit-content;
    direction: rtl;
    }
    
.mat-form-field {
    font-size: 14px;
    width: 100%;
    direction: ltr;
}
td {text-align: right; direction: rtl;}

mat-footer-cell {
    width: auto;
}
mat-form-field{
    width: 100%;
}